spring:
	jpa:
		open-in-view: false
		properties:
			hibernate:
				format_sql: false
				show_sql: false

server:
	forward-headers-strategy: framework

management:
	endpoint:
		health:
			show-details: never
